.myExams{
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 2.5rem;
    text-align: center;
    min-height: 1000px;
    background-color: rgb(241, 244, 247);

    .myExam{
        border: 3px solid black;
        margin: 10px;
    }
}