@import '~pretty-checkbox/src/pretty-checkbox.scss';
.sign-up {
    display: flex;
    flex-direction: column;
    width: 380px;
  
    .title {
      margin: 10px 0;
    }

    .bizimki{
      font-size: 2.2rem;
      margin-bottom: 2rem;
    }
  }
  