.exampage{
    width: 65%;
    margin: 0 auto;
    font-size:2.5rem;

    .question{
        width: 100%;
        margin-top: 30px;
       
        border: 3px solid black;
    }

    .addQuestion{
        padding: 10px;
        
        margin: 0 auto;
        background-color: rgb(16, 192, 16);
        color: white;
        
        text-align: center;
        // font-size: 2.5rem;

        &:hover{
            background-color: rgb(16, 122, 16);
        }
    }
    .examButtons{
        padding: 10px;
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;

        button{
            margin-left: 60px;
            margin-right: 60px;
        }
    }
}