.examCreatorPage{
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 3px 5px 1px rgb(47, 47, 47);
    padding: 2rem;
    width: 65%;
    margin: 0 auto;
    font-size:2.5rem;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #fffdd0;

    .createdExamInfo{
        text-align: center;
    }
    .examCreateHeader{
        height: 70px;
        padding: 0 30px;
        background: #f4f4f4;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 5px 5px 5px 5px;
        box-shadow: 0px 3px 5px 1px rgb(47, 47, 47);

        .examNameInput{
            width: 76%;
            padding: 12px 20px;
            margin: 8px 5px;
            // margin-left: 50px;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        .examPointInput{
            display: inline-block;
            width: 10%;
            padding: 5px 4px;
            border-radius: 4px;
            margin: 0px 5px;
            text-align: center;
            font-size: 20px;
        }
    }
    .question{
        width: 100%;
        margin-top: 30px;
       
        border: 3px solid black;
    }

    .addQuestion{
        padding: 10px;
        margin: 10px;
        
        text-align: center;
        
        .addMcQuestion,.addTfQuestion{
            display: inline-block;
            // background-color: #4caf50;
            font-size: 2rem;
            
            width: 40%;
            margin:10px;
            padding: 10px;
            border: 2px solid #2c344c;
            background-color: inherit;
            border-radius: 20px;
            
        }

        
    }
    .examButtons{
        padding: 10px;
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;

        button{
            margin-left: 60px;
            margin-right: 60px;
        }
    }

    .saveExamButton{
        background-color:#4caf50;
        color: white;
    }
}