.tfQuestion{
    border: 3px solid rgb(112, 110, 110);
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
    padding: 20px 0;
    padding-top: 3rem;
    .questionOrder{
        position: absolute;
        left: 3%;
        top: 12%;
    }
    .questionText{

        margin-left: 20px;
        margin-right: 20px;
        text-align: center;

        .tfQuestionInput{
            width: 60%;
            padding: 12px 20px;
            margin: 8px 5px;
            // margin-left: 50px;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        .tfPointInput{
            display: inline-block;
            width: 5%;
            padding: 11px 20px;
            border-radius: 4px;
            margin: 0px 5px;
        }
        .tfCorrectness{
            display: inline-block;
            // width: 20%;
            padding: 11px ;
            border-radius: 4px;
            margin: 0px 5px;
        }
    }
    
      
}