.question {
    padding: 20px;
    display: block;
    //border: 3px solid black;
    margin: 0 auto;
    max-height: 1000px;

    .questionInfo{
        margin: 15px 0 15px 0;
        margin-bottom: 30px;
        position: relative;
        .pointInfo{
            font-size: 15px;
            position: absolute;
            left: 5%;
            top: 10%;
        }
        .numberInfo{
          font-size: 15px;
            position: absolute;
            left: 80%;
            top: 10%;
        }
    }
    .approve{
      position: relative;
      button{
        left: 75%;
        top: 0px;
      }
    }
    .questionText {
        padding: 10px;
        font-size: 25px;
    }

    .img {
        max-width: 250px;
        max-height: 250px;
        display: block;
        margin: auto;
    }
    .answers{
      margin-left: 20px;

      .answersOptionlist{
        background: aliceblue;
        border: 1px solid #2c344c;
        border-radius: 5px;
        padding: 8px 15px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .Input{
          margin: 10px;
          padding: 5px;
        }
  
      }

      
      .answerOption{
        color: black;
        padding-left: 10px;
        font-size: 20px;
        cursor: pointer;

        &:hover{
          color: rgb(87, 136, 192);
          transform: scale(1.1);
        }
        &:focus{
          outline: none;
        }
      }
    }
    
   
   input[type=radio]:checked ~ .check {
      border: 4px solid rgb(8, 164, 211);
   }
   input[type=radio]:checked ~ .check::before {
      background: rgb(21, 160, 202);
   }
   input[type=radio]:checked ~ label {
      color: rgb(21, 160, 202);
   }

   .approveButton{
     border: 2px solid #2c344c;
     background-color: inherit;
     border-radius: 6px;
   }
}

.tQuestionOption{
  margin-left: 20px;
}