.exampage {
    
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 3px 5px 1px rgb(47, 47, 47);
    padding: 10px;
    width: 65%;
    margin: 0 auto;
    font-size:2.5rem;
    margin-top: 100px;
    background-color: rgb(185, 248, 199);

    .examName{
        margin: 0 auto;
        font-size: 40px;
        text-align: center;
    }

    .examResults{
        background-color: rgb(123, 253, 203);
        padding: 30px;
        display: block;
        margin: 0 auto;
        border-radius: 5px 5px 5px 5px;
        box-shadow: 0px 3px 5px 1px rgb(47, 47, 47);
        text-align: center;
        font-size: 2rem;
        .score{
            color:rgb(17, 14, 14);
            font-size:xx-large;
            padding: 5px;
        }
    }
    .timer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 145px;
        height: 45px;
        background:rgb(208, 223, 211);
        border: 1px solid rgb(0, 0, 0);
        border-radius: 5px;
        padding: 0 8px;
        .timer_text{
            font-weight: 400;
            font-size: 17px;
            user-select: none;

        }
        .timer_sec{
            font-size: 18px;
            font-weight: 500;
            background-color: #404449;
            height: 30px;
            width: 45px;
            color: #fff;
            text-align: center;
            line-height: 30px;
            border-radius: 5px;
            border: 1px solid #40474e
        }
    }
    .Header{
        height: 70px;
        padding: 0 30px;
        background: #68e282;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 5px 5px 5px 5px;
        box-shadow: 0px 3px 5px 1px rgb(47, 47, 47);
    }       
}

