.exampage {
    border: 3px solid black;
    padding: 10px;
    width: 65%;
    margin: 0 auto;
    font-size:2.5rem;
    margin-top: 100px;

    .examName{
        margin: 0 auto;
        font-size: 40px;
        text-align: center;
    }

    .examResults{
        padding: 30px;
        display: block;
        margin: 0 auto;
        border: 3px solid black;
        text-align: center;
        font-size: 2em;
    }
}
