@import '../../sass/abstracts/variables';
@import '../../sass/abstracts/mixins';

.section-about {
    // background-color: $color-grey-light-1;
    // background-color: white;
    background: linear-gradient(
        to right bottom,
         rgba($color-tertiary-light, 0.2),
          rgba($color-tertiary-dark, 0.3)) ;
    padding: 5rem 0;
    // margin-top: -20vh;

    @include respond(tab-port){ 
        padding: 20rem 0;
    }
}


.lapimage{
    width: 100%;
    

}